*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Rajdhani', sans-serif;
}

body{
  background:#0e0e0e;
  color:white;
}

/* HEADER */
header{
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(80,0,0,0.9)),
    url('porshe.jpg') center/cover no-repeat;
  padding:90px 20px;
  text-align:center;
  border-bottom:3px solid hotpink;
}

header h1{
  font-family:'Orbitron', sans-serif;
  letter-spacing:5px;
  text-shadow:0 0 15px hotpink;
}

header p{
  color:#ffb6d9;
  margin-top:8px;
}

/* LAYOUT */
.container{
  display:flex;
}

/* NAV */
nav{
  width:210px;
  background:#141414;
  padding:20px;
}

nav h2{
  color:hotpink;
  border-bottom:1px solid #444;
}

nav a{
  display:block;
  color:white;
  text-decoration:none;
  margin:10px 0;
  padding:6px;
  transition:0.3s;
}

nav a:hover,
nav a.active{
  background:#330000;
  padding-left:12px;
  border-radius:4px;
}

/* CONTENT */
section{
  flex:1;
  padding:50px;
}

/* SECTION */
.gallery-section{
  margin-bottom:90px;
}

.section-title{
  display:flex;
  align-items:center;
  gap:15px;
}

.section-title h2{
  font-family:'Orbitron', sans-serif;
  color:#ff7fcf;
}

.section-title span{
  flex:1;
  height:2px;
  background:linear-gradient(to right, hotpink, transparent);
}

.section-desc{
  color:#ccc;
  font-size:14px;
  margin:10px 0 30px;
}

/* GRID */
.gallery-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:35px;
}

/* CARD */
.gallery-card{
  position:relative;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 20px 40px rgba(0,0,0,0.7);
  animation:float 6s ease-in-out infinite;
}

.gallery-card img{
  width:100%;
  height:260px;
  object-fit:cover;
  transition:0.6s;
}

/* OVERLAY */
.overlay{
  position:absolute;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,0.55);
  opacity:0;
  font-size:18px;
  letter-spacing:2px;
  color:white;
  transition:0.5s;
}

.gallery-card:hover img{
  transform:scale(1.15);
}

.gallery-card:hover .overlay{
  opacity:1;
}

/* FLOAT ANIMATION */
@keyframes float{
  0%,100%{ transform:translateY(0); }
  50%{ transform:translateY(-10px); }
}

/* REVEAL */
.reveal{
  opacity:0;
  transform:translateY(80px);
  transition:1s;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

/* FOOTER */
footer{
  background:maroon;
  text-align:center;
  padding:12px;
}

/* RESPONSIVE */
@media(max-width:900px){
  .container{
    flex-direction:column;
  }
  nav{
    width:100%;
    display:flex;
    justify-content:space-around;
  }
}

