/* ================= GLOBAL ================= */
body{
  margin:0;
  font-family:'Rajdhani',sans-serif;
  background:
    radial-gradient(circle at 20% 30%, rgba(0,170,255,0.15), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(0,120,255,0.12), transparent 45%),
    linear-gradient(180deg,#05070a,#020304,#05070a);
  color:white;
  overflow-x:hidden;
}

.nitro-bg{
  position:fixed;
  inset:0;
  pointer-events:none;
  z-index:-1;
  background:
    radial-gradient(circle at 10% 50%, rgba(13, 85, 153, 0.677), transparent 35%),
    radial-gradient(circle at 90% 20%, rgba(169, 196, 227, 0.15), transparent 40%);
  animation:nitroMove 10s ease-in-out infinite alternate;
}

@keyframes nitroMove{
  from{filter:blur(18px); transform:translateX(-40px);}
  to{filter:blur(35px); transform:translateX(40px);}
}

/* ================= HEADER ================= */
header{
  position:relative;
  background:
    linear-gradient(90deg,#0a0000,#2a0000,#0a0000),
    url('car-bg.jpg') center/cover no-repeat;
  padding:95px 20px;
  text-align:center;
  border-bottom:3px solid red;
}

header::after{
  content:"";
  width:180px;
  height:4px;
  background:red;
  display:block;
  margin:20px auto 0;
  box-shadow:0 0 15px red,0 0 30px crimson;
}

header h1{
  font-family:'Orbitron';
  font-size:44px;
  letter-spacing:5px;
  text-shadow:0 0 15px red;
}

header p{
  color:#ffcccc;
  letter-spacing:2px;
  margin-top:8px;
}

/* PROFILE */
.profile-pic{
  position:absolute;
  right:50px;
  top:50%;
  transform:translateY(-50%);
}

.profile-pic img{
  width: 250px;
  height:200px;
  border-radius:50%;
  border:4px solid red;
  box-shadow:0 0 25px red;
}

/* ================= LAYOUT ================= */
.container{
  display:flex;
}

/* NAV */
nav{
  width:220px;
  background:#111;
  padding:25px;
  min-height:100vh;
}

nav h2{
  color:#ff4d4d;
  border-bottom:1px solid #333;
}

nav a{
  display:block;
  color:white;
  margin:12px 0;
  padding:8px;
  text-decoration:none;
  border-radius:6px;
}

nav a:hover{
  background:#330000;
  padding-left:15px;
  box-shadow:0 0 12px red;
}

/* ================= CONTENT ================= */
section{
  flex:1;
  padding:40px;
}

/* SECTION TITLE */
.section-title{
  font-family:'Orbitron';
  letter-spacing:3px;
  color:#ff9999;
  margin-bottom:25px;
  text-shadow:0 0 10px red;
}

/* ================= HARD SKILLS ================= */
.skill{
  position:relative;
  background:linear-gradient(145deg,#0e0e0e,#1a1a1a);
  border-left:6px solid red;
  border-radius:15px;
  padding:28px;
  margin-bottom:30px;
  box-shadow:0 0 20px rgba(6, 48, 134, 0.3);
}

.skill-title{
  display:flex;
  justify-content:space-between;
  font-family:'Orbitron';
  margin-bottom:12px;
}

.rpm{
  background:#111;
  height:20px;
  border-radius:20px;
  overflow:hidden;
}

.rpm span{
  display:block;
  height:100%;
  width:0;
  background:repeating-linear-gradient(
    90deg,#5eb8ec 0 12px,#1f0562 12px 24px
  );
  box-shadow:0 0 15px rgb(85, 0, 255),0 0 25px rgba(5, 81, 102, 0.5);
  transition:width 1.6s ease;
}

/* ================= SOFT SKILLS ================= */
.soft-skills{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.soft-card{
  background:rgba(20,20,20,0.9);
  border-radius:16px;
  padding:25px;
  text-align:center;
  box-shadow:
    0 0 15px rgba(0,200,255,0.3),
    0 10px 25px rgba(0,0,0,0.8);
  transition:.4s;
}

.soft-card:hover{
  transform:translateY(-10px) scale(1.05);
  box-shadow:
    0 0 25px rgba(0,200,255,0.8),
    0 0 40px rgba(255,0,0,0.5);
}

.soft-icon{
  font-size:38px;
  margin-bottom:12px;
  text-shadow:0 0 15px rgba(0,200,255,0.9);
}

.soft-card h3{
  font-family:'Orbitron';
  margin-bottom:8px;
  color:#aee7ff;
}

.soft-card p{
  font-size:14px;
  color:#dddddd;
}

/* FOOTER */
footer{
  background:#220000;
  text-align:center;
  padding:15px;
}
